/* Write your CSS code here */
.not-found-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-img {
  height: 170px;
  width: 170px;
}
@media screen and (min-width: 992px) {
  .not-found-img {
    height: 300px;
    width: 300px;
  }
}
.heading {
  color: #6d396b;
  font-family: 'Roboto';
  font-size: 42px;
  margin-top: 50px;
}
@media screen and (min-width: 992px) {
  .heading {
    font-size: 56px;
  }
}
